PUID=501
PGID=20
TZ=InsertTimeZone/Here

MEDIA_PATH=/path/to/Media
DOCS_PATH=/path/to/Documents

HOMEPAGE_ALLOWED_HOSTS=0.0.0.0:3001,localhost:3001,127.0.0.1:3001,localhost,127.0.0.1

INSTALL_PACKAGES=git,curl,wget,jq,htop,tree,zip,unzip,p7zip-full,ffmpeg,imagemagick,ripgrep,fd-find,fonts-noto
